@model RailwayReservation.Models.Reservation

@{
    var schedule = ViewBag.TrainSchedule as RailwayReservation.Models.TrainSchedule;
}

<h2>Book Seats</h2>

<form asp-action="Create" method="post">
    <input type="hidden" name="trainScheduleId" value="@schedule.Id" />
    <div class="form-group">
        <label>Train</label>
        <input class="form-control" value="@schedule.Train.Name" readonly />
    </div>
    <div class="form-group">
        <label>From Station</label>
        <input class="form-control" value="@schedule.FromStation.Name" readonly />
    </div>
    <div class="form-group">
        <label>To Station</label>
        <input class="form-control" value="@schedule.ToStation.Name" readonly />
    </div>
    <div class="form-group">
        <label for="seatType">Seat Type</label>
        <select class="form-control" id="seatType" name="seatType" required>
            <option value="">-- Select Seat Type --</option>
            <option value="AC1">AC1</option>
            <option value="AC3">AC3</option>
            <option value="Sleeper">Sleeper</option>
        </select>
    </div>
    <div class="form-group">
        <label for="numberOfSeats">Number of Seats</label>
        <input type="number" class="form-control" id="numberOfSeats" name="numberOfSeats" min="1" required />
    </div>
    <button type="submit" class="btn btn-outline-success">Book</button>
</form>